* {
  margin: 0;
  font-family: Arial, sans-serif;
  border-width: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
  transform-origin: top left;
  
}

#info-panel{
  pointer-events: none;
  position: absolute;
  color: #FFF;
  width: 100%;
  text-align: center;
  left: 0;
  top:10px;
  z-index: 1000;
  font-size:14px;
  line-height: 18px;
}

*:focus {
  outline: none;
}


